@tailwind base;
@tailwind utilities;
@tailwind components;


@font-face {
  font-family: 'TimesNewRomanCustom';
  src: url('/fonts/times.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tinos';
  src: url('/fonts/Tinos-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tinos';
  src: url('/fonts/Tinos-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Tinos';
  src: url('/fonts/Tinos-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Tinos';
  src: url('/fonts/Tinos-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

* {
  @apply transition duration-300;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}